.accent {
  background-color: #649d66;
}
.flex {
  display: flex;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #edffea;
}
a:hover {
  color: #649d66;
  background-color: black;
}
header {
  display: flex;
  padding: 1%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #649d66;
}
header img {
  height: 15vh;
}
@media (max-width: 500px) {
  header img {
    justify-content: center;
  }
}
header nav {
  width: 80%;
  font-size: 1.5rem;
  text-align: right;
  padding: 3rem;
}
@media (max-width: 500px) {
  header nav {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }
}
header nav a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}
@media (max-width: 500px) {
  header nav a {
    width: 100%;
    border: 0.2rem solid black;
    display: flex;
    justify-content: center;
  }
}
.title-container {
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("../Assets/Main Img.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .title-container {
    padding: 5rem;
  }
}
.title-container h1 {
  font-size: 3rem;
  text-align: center;
}
.title-container h3 {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 0.2rem solid black;
}
@media (max-width: 500px) {
  .title-container h3 {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
.description {
  font-size: 1.1rem;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  background-color: #edffea;
}
.description h3 {
  font-size: 1.7rem;
  padding: 1.5rem;
  text-align: center;
}
.description .descFiller {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.listBox {
  font-size: 1.1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 2rem;
  background-color: #edffea;
}
.listBox h3 {
  font-size: 1.7rem;
  padding: 0.5rem;
}
.listBox li {
  padding: 0.2rem;
  font-size: 1.3rem;
}
.listBox p {
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
}
.about h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  border: 1px solid grey;
}
.creators img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.creators .role {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.7rem;
  border-top: 0.2rem solid #649d66;
  border-bottom: 0.2rem solid #649d66;
  font-weight: bold;
}
.creators h3 {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}
.creators p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  border-bottom: 0.2rem solid #649d66;
}
footer {
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  background-color: #649d66;
}
footer a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l521wRpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
