header{
    display:flex;
    padding:1%;
    box-sizing:border-box;
    margin:0;
    padding:0; 
    //border:1px solid grey;
    .accent();
    
    img{
        height:15vh;

        @media(max-width:500px){
            justify-content:center;
        }
    }//This closes img
    
    nav{
        width:80%;
        font-size:1.5rem;
        text-align:right;
        padding:3rem;
        
        @media @mobile{
            font-size:1rem;
            width:100%;
            padding:1rem;
            margin:0 auto;
        }
        
        a{
            text-decoration:none;
            color:black;
            padding:1rem;

            @media @mobile{
                width:100%;
                border:.2rem solid black;
                display:flex;
                justify-content:center;
            }
        }//This closes a
    }//This closes nav

    
}//This closes header

